<div class="card">
    <p-menubar [model]="navService.menuItems()">
        <ng-template pTemplate="start">
            <span class="font-bold text-xl px-3">COMPANY_LOGO</span>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex align-items-center gap-2">
                <span class="text-sm font-medium">User Name</span>
                <p-button label="Logout" icon="pi pi-power-off" [text]="true" severity="danger"></p-button>
            </div>
        </ng-template>
    </p-menubar>
</div>
