/* We remove the theme imports because we use the Aura preset in app.config.ts */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: var(--font-family); /* PrimeNG uses CSS variables for fonts */
}

/* Custom styling for the Sidebar */
.w-15rem {
	width: 15rem;
}

.h-full {
	height: 100%;
}
