// navbar.component.scss
.navbar {
	background: #333;
	color: white;
	padding: 1rem;
	display: flex;
	gap: 15px;
	align-items: center;

	a {
		color: white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
